*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --ff-base: 'Montserrat', sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
  --text-xl: 4rem;

  --spinflow-sun: #ff921e;
  --spinflow-sky-mid: #36d6f3;
  --spinflow-sky-light: #d4ffff;
  --spinflow-joy-mid: #ba3ca7;
  --spinflow-joy-light: #fcc6f1;
  --spinflow-leaf-mid: #35FC1B;

  --text: #000000;
  --text-highlights: #000000;
}

html,
button {
  font: 500 1rem/1.5 var(--ff-base);
}

h1,
h2 {
  font-family: 'Syne', sans-serif;
}

h1 {
  font-size: var(--text-xl);
  line-height: 1.25;
}

h2 {
  font-size: var(--text-lg);
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}